# 6주차 연습문제입니다

1. 사용자로부터 임의의 수를 연속적으로 입력받도록 하시오. 
이 수들에 대한 평균값, 최댓값, 최솟값을 반환하는 함수 mean_of_n(nums), max_of_n(nums), min_of_n(nums)을 구현하여 다음과 같이 출력하여라.
    - 임의의 수를 연속적으로 입력받기 위해 map함수과 split()메서드를 사용해 준다.
    - 각 함수에는 몇개의 수가 들어갈지 모르기 때문에 리스트로 받아주고,
        - 내부의 for문에서 리스트 하나하나에 접근하거나,
        - 각각 필요한 함수들을 사용해서 return 값을 돌려준다.
            - max_of_n에는 max()함수
            - min_of_n에는 min()함수
            - mean_of_n에는 numpy함수 대신 평균을 구하는 for문 식을 넣었습니다.

In [11]:
#평균값을 구하는 함수
def mean_of_n(nums):
    sum=0
    for i in nums:
        sum+=i
    return sum/len(nums)

#최댓값을 구하는 함수
def max_of_n(nums):
    return max(nums)

#최솟값을 구하는 함수
def min_of_n(nums):
    return min(nums)

n=list(map(int,input('정수를 여러개 입력하시오 :').split()))
print('평균값은 {:.1f}'.format(mean_of_n(n)))
print('최댓값은',max_of_n(n))
print('최솟값은',min_of_n(n))

정수를 여러개 입력하시오 :3 45 32 5 7 8 4 44 5 90 17
평균값은 23.6
최댓값은 90
최솟값은 3

2.	직각삼각형의 빗변을 이루는 선분의 양 끝점을 나타내는 두 좌표 (x1, y1), (x2, y2)를 입력받아 직각삼각형의 면적을 구하는 프로그램을 작성하여라. 이때 4개의 좌표값을 입력으로 받아 직각삼각형의 면적을 반환하는 area(x1, y1,x2, y2) 함수를 구현하시오.
- (x1,y1),(x2,y2)좌표가 주어졌을 때, 두 좌표를 구하는 식은 간단하다.
    - (x2-x1)*(y2-y1)*(1/2)
    - x2가 x1보다, y2가 y1보다 크다는 조건식이 있기때문에 절대값을 사용할 필요는 없다.

In [4]:
def area(x1,y1,x2,y2):
    return (x2-x1)*(y2-y1)*(1/2)
x1=int(input("x1 좌표를 입력하시오 :"))
x2=int(input("x2 좌표를 입력하시오 :"))
y1=int(input("y1 좌표를 입력하시오 :"))
y2=int(input("y2 좌표를 입력하시오 :"))
print('직각삼각형의 면적은 :',area(x1,x2,y1,y2))

x1 좌표를 입력하시오 :0
x2 좌표를 입력하시오 :0
y1 좌표를 입력하시오 :3
y2 좌표를 입력하시오 :4
직각삼각형의 면적은 : 6.0

3. 쉼표 단위로 구분된 정수를 임의의 수만큼 입력받은 후 이 숫자들을 오름차순으로 정렬하여 출력하시오.
힌트: split() 메소드를 사용한다.
- split(',')을 사용하면 간단하게 ,단위로 끊을 수 있다.
- map함수를 사용하면 더 간단하겠지만 위에 1번 문제에서 사용 했기 때문에 다른 방법을 사용해 보려 한다.
- 쉼표 구분의 정수를 입력 받아 ,로 split하면 각 원소는 string type을 가지기 때문에, int형으로 변경해 줘야 한다.
    - 이 때, 배열 내의 원소에 하나하나 접근해야 하기 때문에 for문을 사용해서 모든 원소를 int형으로 변환해 주었다.
- 출력할 때, [1,2,3,4]의 형식은 list를 출력하면 그대로 나오지만, 1 2 3 4의 형식으로 출력하기 위해 추가적인 방법을 사용했다.
    - '정렬된 정수의 리스트:'를 먼저 출력하고,
    - end옵션을 ' '(공백하나)로 주었다.
    - 이후 배열의 리스트에 하나씩 접근하며 출력하는데, 마찬가지로 end옵션을 ' '로 주었다.
    - 마지막 들여쓰기를 위해 print()를 추가했다.

In [13]:
n=input('쉼표로 구분된 정수를 여러 개 입력하시오 :').split(',')
for i in range(len(n)):
    n[i]=int(n[i])
print('입력된 정수의 리스트:',n)
n.sort()
print('정렬된 정수의 리스트:',end=' ')
for i in n:
    print(i,end=' ')
print()

쉼표로 구분된 정수를 여러 개 입력하시오 :56,67,89,34,24,300,99
입력된 정수의 리스트: [56, 67, 89, 34, 24, 300, 99]
정렬된 정수의 리스트: 24 34 56 67 89 99 300

4. 두 개의 정수 a, b를 입력으로 받는다. 이때 a < b라는 조건이 항상 지켜진다고 하자. 여러분이 작성할 코드는 a에서 b까지(a, b 포함) 범위의 모든 정수의 배수이면서 가장 작은 값을 갖는 값을 찾는 것이다. 예를 들어 2, 4가 입력되면 2, 3, 4 모두의 배수이면서 가장 작은 값이 되는 12가 답이 된다. 12는 2의 배수, 3의 배수, 4의 배수이다. 
- a보다 항상 b가 크다
- a<=x<=b인 모든 수 x의 최소 공배수를 구해야 한다.
- 이를 보다 쉽게 하기 위해 a,b의 최소공배수를 구하는 함수 LCM(a,b)을 만들었다.
- 곱셈 연산을 반복해서 겹치는 수를 찾기에는 시간복잡도가 (b-a)O(n)으로 큰 편이기 때문에 유클리드 호제법을 사용했다.
- [참조링크](https://colab.research.google.com/drive/1wNNRRpgiRc5rz8Jb1JQMlKUDmrkAR2wn#scrollTo=SRrqr6RQ7alv&line=6&uniqifier=1)
- 유클리드 호제법을 통해 GCD함수를 만들어 최대공약수를 구하고, a1과a2의 곱에 최대공약수를 나누어 최소공배수를 구해주었다
    - 이 작업을 for문을 통해 x가 될 수 있는 수들에 반복해 주었다.
        - (x1과 x2의 최소공배수r을 구하고, r과 x3의 최소 공배수를 구하는 연산을 반복)

In [14]:
def GCD(a,b):#최대공약수 구하는 함수
    if a<b:
        a,b=b,a
    if a%b==0:
        return b
    else:
        return GCD(b,a%b)

def LCM(a,b):
    return int(a*b/GCD(a,b))


a=int(input('범위의 시작 정수 :'))
b=int(input('범위의 마지막 정수 :'))

result = LCM(a,a+1)
if a+1<b:
    for i in range(a+1,b):
        result=LCM(result,i+1)
    

print('{}에서 {}까지의 정수들의 최소 공배수는: {}'.format(a,b,result))

범위의 시작 정수 :2
범위의 마지막 정수 :4
2에서 4까지의 정수들의 최소 공배수는: 12

6. m과 n이라는 이름의 매개변수를 두개 입력받아서 이 두 값 중에서 큰 값을 반환하는 max2(m,n) 함수와 작은 값을 반환하는 min2(m,n) 함수를 구현하시오. 100과 200을 인자로 넣어서 호출하여 그 결과를 확인하시오.
- max2 함수는 m과 n중 큰 수를 반환하는 함수이다.
    - m과 n을 비교해서 '만약(if) m이 더 크면 m을 반환, 그게 아니라면(else) n을 반환해 주면 된다.

- min2 함수는 m과 n중 작은 수를 반환하는 함수이다.
    - m과 n을 비교해서 '만약(if) m이 더 작으면 m을 반환, 그게 아니라면(else) n을 반환해 주면 된다.

In [8]:
def max2(m,n):
    if m>=n:
        return m
    else:
        return n

def min2(m,n):
    if m<n:
        return m
    else:
        return n

print('100과 200중 큰 수는 :',max2(100,200))
print('100과 200중 작은 수는 :',min2(100,200))

100과 200중 큰 수는 : 200
100과 200중 작은 수는 : 100